gtimelog.egg-info
dist
build
temp
.coverage
.coverage.*
coverage.xml
htmlcov/
*.py[co]
__pycache__/
tmp/
.tox/
.pc/
.ruff_cache/
.mypy_cache/
.pytest_cache/
gtimelog.1
gtimelogrc.5
gtimelogrc.sample
*~
.*.swp
tags
locale
.flatpak-builder/
*.egg-info/
